#container {
    width: 600px;
    background-color: #FF0000;
    margin: 0 auto;
}

#content {
    background-color: #555555;
}

.item {
    background-color: #0000FF;
    padding-left: 10px;
    font-size: 30
    margin-bottom: 20px
}

#itemList li {
    list-style-type: none;
}

.aiad p {
    color: #FFFFFF;
}